<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="/style.css" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div th:replace="fragments/sidebar.html :: sidebar"></div>

<div class="content">
    <h1 th:text="#{rentRoomTitle}"></h1>
    <form action="#" th:action="@{/}" method="post" id="rentForm1">
        <label for="clientUsername" th:text="#{clientUsername}">: </label>
        <input type="text" id="clientUsername" name="clientUsername" required>
        <br><br>

        <label for="roomNumber" th:text="#{roomNumber}">: </label>
        <input type="number" id="roomNumber" name="roomNumber" required>
        <br><br>

        <label for="beginTime" th:text="#{beginTime}">: </label>
        <input type="datetime-local" id="beginTime" name="beginTime" required>
        <br><br>

        <button type="submit" th:text="#{rentRoomButton}" id="submitButton"></button>
    </form>

    <h1 th:text="#{listAllRents}"></h1>

    <form action="/getAllRents" method="get">
        <button type="submit" th:text="#{showRentsButton}"></button>
    </form>

    <div>
        <h2 th:text="#{rentListTitle}"></h2>
        <table>
            <thead>
            <tr>
                <th th:text="#{beginTime}"></th>
                <th th:text="#{clientUsername}"></th>
                <th th:text="#{roomNumber}"></th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="rentDTO : ${rentDTOs}">
                <tr>
                    <td th:text="${rentDTO.beginTime}"></td>
                    <td th:text="${rentDTO.clientUsername}"></td>
                    <td th:text="${rentDTO.roomNumber}"></td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>

    <h2 th:text="#{returnRoomTitle}"></h2>
    <form action="/return" method="post" id="rentForm2">
        <input type="text" id="id" name="id">
        <input type="datetime-local" id="endTime" name="endTime">
        <button type="submit" th:text="#{returnRoomTitle}"></button>
    </form>
</div>

<div th:replace="fragments/footer :: footer"></div>
<script src="/script.js"></script>
</body>
</html>