<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{rentListTitle}"></title>
    <link href="/style.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div th:replace="~{fragments/sidebar.html :: sidebar}"></div>
<div class="content">
    <ul>
        <li><a href="/rents/rentList" th:text="#{listAllRents}"></a></li>
        <li><a href="/rents/rentRoom" th:text="#{rentRoomTitle}"></a></li>
        <li><a href="/rents/returnRoom" th:text="#{returnRoomTitle}"></a></li>
    </ul>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>