<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
    <link href="/style.css" rel="stylesheet">
</head>
<body>

<header th:fragment="header">
    <p id="current-page"></p>
</header>

<div th:fragment="sidebar">
    <h2>Menu</h2>
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/register">Register</a></li>
    </ul>
</div>

<footer th:fragment="footer">
    <p>© 2024 Team 9</p>
</footer>

</body>
</html>