<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{users}"></title>
    <link href="/style.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div th:replace="~{fragments/sidebar.html :: sidebar}"></div>
<div class="content">
    <h1 th:text="#{users}"></h1>
    <input type="text" name="partialUsername" id="partialUsername" onkeyup="filterListUsingREST()"/>
    <table>
        <thead>
        <tr>
            <th th:text="#{username}"></th>
            <th th:text="#{firstName}"></th>
            <th th:text="#{lastName}"></th>
        </tr>
        </thead>
        <tbody id="tableid">
        <th:block th:each="userDTO : ${userDTO}">
            <tr>
                <td th:text="${userDTO.username}"></td>
                <td th:text="${userDTO.firstName}"></td>
                <td th:text="${userDTO.lastName}"></td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>

<script>
    async function filterListUsingREST() {
        const username = document.getElementById('partialUsername').value;
        const response = await fetch("http://localhost:8080/api/users/getUsersByPartialUsername?partialUsername=" + username, {
            method: "GET"
        });
        const table = document.getElementById("tableid");
        const users = await response.json();

        table.innerHTML = "";

        users.forEach(user => {
            const tr = document.createElement("tr");

            const td1 = document.createElement("td");
            td1.textContent = user.username;
            tr.appendChild(td1);

            const td2 = document.createElement("td");
            td2.textContent = user.firstName;
            tr.appendChild(td2);

            const td3 = document.createElement("td");
            td3.textContent = user.lastName;
            tr.appendChild(td3);

            table.appendChild(tr);
        });
    }
</script>

</html>