body {
    background: grey;
    margin: 0;
}

td, th {
    align-content: center;
    padding: 10px;
    border: 1px solid black;
}

table {
    border-collapse: collapse;
}

button:hover {
    background: aqua;
}

footer {
    text-align: center;
    background: yellow;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #a88989;
    padding-top: 20px;
    padding-left: 20px;
}

.content {
    margin-left: 270px;
    padding: 1px 16px;
    margin-top: 50px;
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: aqua;
    text-align: center;
}

.lastTD {
    text-align: center;
    border: none;
}